<h2>Dashboard Screen (WIP)</h2>
<h1 id="userNameDisplay" userId="{{userId}}">{{username}}</h1>
<div class="containerSummary">
    <div class="userSummary">
        <h2 id="capital">Current Capital: ${{capital}}</h2>
        <h2 id="portfolio_worth">Total Portfolio Worth: ${{portfolio_worth}}</h2> 
        <form id="recomputePorfolioWorthForm">
            <button type="button" id="recomputePortfolioWorth">Recompute Captial and Portfolio Worth</button>
        </form>
    </div>

    <div class="chartArea">
        <div id="portfolio-chart"></div>
        <canvas id="stock-pie-chart"></canvas>
        <canvas id="gains-chart"></canvas>
    </div>
</div>

<div class="tickersAndHistory">
    <button type="button" id="refresh_button">Refresh</button>
    <table class="tickers">
        <caption>Tickers Held</caption>
        <tr>
            <th>Stock Ticker</th>
            <th>Volume</th>
            <th>Current Total Value</th>
            <th>Price/Share</th>
            <th>Sell Shares</th>
        </tr>
        {{#each tickers}}
        <tr id="row_{{this.stock_ticker}}">
        <td><a href="/stock?ticker={{this.stock_ticker}}">{{this.stock_ticker}}</a></td>
        <td id="volume_{{this.stock_ticker}}">{{this.volume}} shares</td>
        <td>Calculating...</td>
        <td>Calculating...</td>
        <td>
            <form class="sell-stock" data-stock_ticker="{{this.stock_ticker}}">
                <label for="sell_amount_{{this.stock_ticker}}">Amount:</label>
                <input type="number" id="sell_amount_{{this.stock_ticker}}" name="sell_amount_{{this.stock_ticker}}" min="1" max="{{this.volume}}" required>
                <button type="submit">Sell</button>
            </form>
        </td>
        </tr>
        {{/each}}
    </table>
    <table class="trades">
        <caption>Trade History</caption>
        <tr>
            <th>Type</th>
            <th>Stock Ticker</th>
            <th>Volume</th>
            <th>Value</th>
            <th>Date</th>
        </tr>
        {{#each trade_history}}
        <tr>
        <td>{{this.type}}</td>
        <td>{{this.stock_ticker}}</td>
        <td>{{this.volume}} shares</td>
        <td>${{this.value}}</td>
        <td>{{this.date}}</td> <!--Added this part just in case we wanted it, it is not in the doc -->
        </tr>
        {{/each}}
    </table>
</div>

<div class="buttonContainer">
    <form method="POST" action="/dashboard/reset">
        <button id="reset_button" type="submit" class="btn">Reset Portfolio</button>
    </form>
</div>