
<h1 id="userNameDisplay">{{username}}</h1>
<h2>Dashboard Screen (WIP)</h2>
<div>
    <p>Capital: {{capital}}</p>
    <p>Portfolio Worth: {{portfolio_worth}}</p> 
</div>
<div>
    <p>Tickers</p>
    <ul>
        {{#each tickers}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
</div>
<div>
    <p>Trade History</p>
    <ol>
        {{#each trade_history}}
        <li>{{this}}</li>
        {{/each}}
    </ol>
</div>